body {
}
main {
}
.container {
  margin: auto auto;
  background-color: #f5f8fb;
  padding: 5em;
}
.btn-container {
  display: flex;
}

.round-btn {
  width: 5.2em;
  height: 5.2em;
  border-radius: 50%;
  border: 1px solid gray;
  color: gray;
  margin-left: 0.6rem;
  font-size: medium;
  background-color: #f5f8fb;
  cursor: pointer;
}
#start-btn {
  color: #fff;
  background-color: #18a69d;
}

.split-time {
  color: #f29e26;
  text-transform: uppercase;
}
.time {
  font-size: 7em;
}
.time-small {
  font-size: 2em;
}
